<% include partials/header %>
<p>
  Welcome <b><%= title%></b>

</p>
<div>
  <ul>
    <% users.forEach(function(user){%>
    <li>
<%=user.name %>
    </li>
    <%})%>
  </ul>
</div>
<% include partials/footer %>
